#include "scriptera.dtsi"

&kscan0 {
    diode-direction = "col2row";
    col-gpios
        = <&pro_micro 8 (GPIO_ACTIVE_HIGH)> // COL0
        , <&pro_micro 9 (GPIO_ACTIVE_HIGH)> // COL1
        , <&pro_micro 10 (GPIO_ACTIVE_HIGH)> // COL2
        , <&pro_micro 16 (GPIO_ACTIVE_HIGH)> // COL3
        , <&pro_micro 14 (GPIO_ACTIVE_HIGH)> // COL4
    ;
    row-gpios
        = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW0
        , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW1
        , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW2
        , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW3
    ;
};

&spi0 {
    status = "okay";
};

&tball0 {
	status = "okay";
};

&tball1 {
	status = "okay";
};

/ {
	//tball1_0: virtual_input0 {
	//	compatible = "zmk,virtual-input";
	//};
	tball1_1: virtual_input1 {
		compatible = "zmk,virtual-input";
	};
	input_relay_config_102 {
		compatible = "zmk,split-peripheral-input-relay";
		relay-channel = <102>;
		device = <&tball1_1>;
	};
};